@import '../../../config-scss/variables.scss';
@import '../../../config-scss/size.scss';

:host{
    display: flex;
    justify-content: space-between;
    padding: sizeRem(20) 0;
    
    .user{
       
        div{
            width: 150px;
            height: 120px;
        }
        
        img{
            width: 100px;
            border-radius: 100%;
        }
        
        
    }
}