:root{
    --TextButtonColor: rgb(234, 199, 3);
    
    --BackGround: #ddf4ff;
    --BackGroundBox: rgba($color: #b6e3ff, $alpha: 0.5);
    --color-scale-blue-1: #b6e3ff;
    --color-scale-blue-2: #80ccff;
    --color-scale-blue-3: #54aeff;
    --color-scale-blue-4: #218bff;
    --color-scale-blue-5: #0969da;
    --color-scale-blue-6: #0550ae;
 
}