@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/size.scss';

html{

    font-family:'Unbuto', sans-serif;
    background: var(--BackGround);

}

main{
    
    max-width: sizeRem(600);
    margin: 0 auto;
    box-sizing: border-box;

}